{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Current Hood</title>
</head>

<body>
  <div class="container-fluid">
    <h1 id="mainheading" style="text-align:center;" class="display-4"> Watchtower</h1>
    <h3>Hood: {{hood.name | upper}}</h3>
    <h4>Location: {{hood.location | upper}}</h4>

    <h5 id="text" class="card-title">Occupants: {{hood.occupants_count | upper}}</h5>

    <div class="row">

      <div class="col-md-3">
        <a href="{% url 'add_biz'  %}" class="btn btn-sm btn-success">Add Business</a>

        <a href="{% url 'add_post'  %}" class="btn btn-sm btn-success">Add Post</a>
        <a href="{% url 'leave_hood' hood.id  %}" class="btn btn-sm btn-danger">Leave Hood</a>
      </div>
      <div class="col-md-6">

        <h2>Businesses in {{hood.name}} </h2>
        <br>
        <div class="card-columns">
          {% for business in businesses%}
          <div class="card" style="width:100%;">


            <div class="card-body" style="background-color:#eceff1;">
              <h5>{{business.name | upper}}</h5>
              <h5>{{business.description | safe}}</h5>
              <p>{{business.email }}</p>
            </div>
          </div>

          {% empty %}
          <h4>No businesses yet! Register one <a style="color:#AD6A00;" href="{% url 'add_biz'  %}">here</a></h4>

          {% endfor %}
        </div>
      </div>
      <div class="col-md-3">
        <a href="" class="btn btn-sm btn-success">Hood Posts</a>
        <br> <br>
        {% for post in posts%}
        <h3>{{post.name}}</h3>
        <p id="text" style="margin-bottom:0;">By <a style="width:100%; padding-left:10px;"
            href="{% url 'user_profile' username=post.poster %}">
            <label>{{post.poster}}</label></a></p>

        {% empty %}
        <h4>No posts :-(
          <br>
          <a style="color:#AD6A00;" href="{% url 'add_post'  %}">Create one!</a></h4>

        {% endfor %}

      </div>
    </div>
  </div>
</body>

</html>

{% endblock %}